{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Login</title>
{% endblock meta %}

{% block content %}
{% include 'navbar.html' %}

<div class="container">
  <div class="login-form">
    <h2 class="text-center mt-4 mb-4">Login ke Akun Anda</h2>
    <form method="POST" action="">
      {% csrf_token %}
      <div class="form-group">
        <label for="username">Username</label>
        <input id="username" name="username" type="text" required placeholder="Username">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input id="password" name="password" type="password" required placeholder="Password">
      </div>
      <div class="form-actions text-center">
        <button type="submit" class="button">Login</button>
      </div>
    </form>

    {% if messages %}
    <div class="mt-4">
      {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
          {{ message }}
        </div>
      {% endfor %}
    </div>
    {% endif %}

    <div class="text-center mt-4 login-footer">
      <p>
        Belum punya akun?
        <a href="{% url 'main:register' %}">Daftar Sekarang</a>
      </p>
    </div>
  </div>
</div>
{% endblock content %}
