{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block meta %}
<title>Ngaji Kuy - Toko Al-Quran Online</title>
{% endblock meta %}

{% block content %}
{% include 'navbar.html' %}

<div class="container">
    <div class="text-center mt-4 mb-4">
        <h1>Selamat Datang di Ngaji Kuy</h1>
        <p>Toko terpercaya untuk Al-Quran dan literatur Islami.</p>
    </div>

    <div class="mb-4 text-right">
        <a href="{% url 'main:create_quran_entry' %}" class="button">
            Tambah Produk Al-Quran
        </a>
    </div>

    {% if not quran_entries %}
    <div class="text-center mt-4">
        <img src="{% static 'image/sedih-banget.png' %}" alt="Sad face" class="w-32 h-32 mb-4"/>
        <p>Saat ini, belum ada produk Al-Quran yang tersedia.</p>
    </div>
    {% else %}
    <div class="columns">
        {% for quran_entry in quran_entries %}
        <div class="column">
            {% include 'card_quran.html' with quran_entry=quran_entry %}
        </div>
        {% endfor %}
    </div>
    {% endif %}
</div>
{% endblock content %}
